.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portrait {
    border-radius: 50%;
    border: 3px solid var(--text-submain);
    height: 22.5rem;
    transition: var(--transitions);
}

.portrait:hover {
    scale: 90%;
}

.github_button a {
    display: inline-block;
    color: var(--text-main);
    margin: 0;
    padding: 0;
    transition: var(--transitions);
    height: 10rem;
}

.github_button a:hover {
    color: var(--text-submain);
    scale: 90%;
}

.profession {
    padding-left: 1.3rem;
    cursor: default;
}

.name {
    font-size: 5rem;
    font-weight: bold;
    padding-left: 1.3rem;
    cursor: default;
}

.stack {
    padding-left: 1.3rem;
    cursor: default;
}

/* ===================== SMALL QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portrait {
        height: 15rem;
    }

    .right{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .right_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .name{
        font-size: 2.6rem;
    }
    .stack{
        font-size: 0.6rem;
        padding: 1rem;
    }
}